@model IEnumerable<Canta_Book.Models.Book>
@{
    ViewData["Title"] = "Home Page";
    // List<Author>? lAuthor = ViewData["lAuthor"] as List<Author>;

    string? message = ViewBag.Message as string;
}


<div class="card bg-dark text-white" style="height: 70px;text-align: center; margin-bottom:15px">
    <div class="card-img-overlay">
        <h1 class="card-title">Biblioteca</h1>
    </div>
</div>
<p>
    <a asp-action="Create">Criar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Livro</th>
@*          <th>Autor</th>
            <th>Gênero</th> *@
            <th>Descrição</th>
@*             <th>Preço</th> *@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookTitle)
                </td>
@*                 <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
@*                 <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td> *@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BookID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.BookID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Home" asp-action="Index">Voltar</a> 


