@model IEnumerable<Canta_Book.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Relação de Usuários</h1>

<p>
    <a asp-action="ManageUsers">Gerenciamento de Usuários</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Historic)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Historic)
                </td>
@*             <td>
                <a asp-action="Edit" asp-route-id="@item.UserID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserID">Delete</a>
            </td> *@
        </tr>
}
    </tbody>
</table>
<a asp-controller="Home" asp-action="Index">Voltar</a>
