@model IEnumerable<Canta_Book.Models.BookReader>

@{
    ViewData["Title"] = "Book Readers";
}

<div class="container">
    <div class="container-md">
        <div class="card">
            <img class="card-img" src="@Url.Content("~/images/banner-img.jpg")" alt="Card image">
        </div>
    </div>
    <div class="card bg-dark text-white" style="height: 70px;text-align: center; margin-bottom:15px">
        <div class="card-img-overlay">
            <h1 class="card-title">Relação de Livros</h1>
        </div>
    </div>
    <p style="margin-left:10px"><a asp-action="Create">Escolher um livro</a> </p>
    <div class="container-md mt-2">
        <div class="card-group mt-2" style="text-align: center; margin-bottom:15px">
            @foreach (var item in Model)
        {                
            <div class="card">
                <img class="card-img-top" src="@Url.Content("~/images/books.jpg")" alt="Card image cap">
                <div class="card-body">
                        <h5 class="card-title" style="margin-top: 7px;">@item.Book.BookTitle</h5>
                        <p class="card-text">@item.Book.Description</p>
                </div>
            </div>
        }
            <div class="card">
                <img class="card-img-top" src="@Url.Content("~/images/books.jpg")" alt="Card image cap">
                <div class="card-body">
                        <h5 class="card-title">Livro 2</h5>
                        <p class="card-text">Descrição 2</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="@Url.Content("~/images/books.jpg")" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Livro 2</h5>
                    <p class="card-text">Descrição 2</p>
                </div>
            </div>
        
        </div>
    </div>
</div>
<div class="container">
    <div class="card bg-dark text-white" style="height: 70px;text-align: center; margin-bottom:15px">
        <div class="card-img-overlay">
            <h1 class="card-title">Relação de Usuários</h1>
        </div>
    </div>
    <div class="container-md mt-2">
        <div class="card-group" style="text-align: center; margin-bottom:15px">
            @foreach (var item in Model)
            {
                <div class="card">
                    <img class="card-img-top" src="@Url.Content("~/images/pessoa.jpg")" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" style="margin-top: 7px;">Gabriel Cantarini</h5>
                        <p class="card-text">@item.Book.Description</p>
                    </div>
                </div>
            }
            <div class="card">
                <img class="card-img-top" src="@Url.Content("~/images/pessoa.jpg")" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Leandro Cantarini</h5>
                    <p class="card-text">Descrição 2</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="@Url.Content("~/images/pessoa.jpg")" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Luciano Cantarini</h5>
                    <p class="card-text">Descrição 2</p>
                </div>
            </div>

        </div>
    </div>
</div>
<a asp-action="Index">Voltar</a>